# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Uploads
public/uploads/

# IDE
.vscode/
.idea/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
